doctype html
html(lang="ru")
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	head
		title Project title
		link(rel="stylesheet", href="dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="dist/css/main.css")
	body


		script(src="dist/js/plugins.js")
		script(src="dist/js/main.js")
		<!--[if lt IE 9]>
		<script src="dist/js/es5-shim.min.js"></script>
		<script src="dist/js/html5shiv.min.js"></script>
		<script src="dist/js/html5shiv-printshiv.min.js"></script>
		<script src="dist/js/respond.min.js"></script>
		<![endif]-->